In [10]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [11]:
df_test = pd.read_csv("career_recommender.csv")

In [12]:
df_test.head()

,What is your name?,What is your gender?,What was your course in UG?,What is your UG specialization? Major Subject (Eg; Mathematics),What are your interests?,What are your skills ? (Select multiple if necessary),What was the average CGPA or Percentage obtained in under graduation?,Did you do any certification courses additionally?,"If yes, please specify your certificate course title.",Are you working?,"If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.","Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)"
0,A.Uha Priya,Female,B.Sc,Computer Applications,Cloud computing,Python;SQL;Java,85,Yes,"Linux,Git",Yes,Software,MCA
1,Aadil,Male,B.E,Computer Science Engineering,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5,Yes,Microsoft certification,Yes,Computer Software Engineer,NaN
2,Aakriti,Female,BA,Psychology,Understand human behaviour,People management;Communication skills,64.6,Yes,Resilience psychology,No,NaN,NaN
3,Aanchal sharma,Female,MBA,Commerce,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525,No,No,Yes,Relationships manager,NaN
4,Aangkeeta Sarkar,Female,B.Tech,Instrumentation Engineering,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68,Yes,Extreme Productivity (Blinkist Summary),Yes,Plant Instrumentation Engineer,NaN

In [13]:
df_test.isnull().sum()

What is your name?                                                                                                            0
What is your gender?                                                                                                          0
What was your course in UG?                                                                                                   0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                               0
What are your interests?                                                                                                      0
What are your skills ? (Select multiple if necessary)                                                                         1
What was the average CGPA or Percentage obtained in under graduation?                                                         0
Did you do any certification courses additionally?                                                                            0
If yes, please specify your certificate course title.                                                                         1
Are you working?                                                                                                              0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   296
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             726
dtype: int64

In [14]:
df_test['What are your skills ? (Select multiple if necessary)'].mode()

0    NO
Name: What are your skills ? (Select multiple if necessary), dtype: object

# New Section

In [15]:
df_test['What are your skills ? (Select multiple if necessary)'].fillna(df_test['What are your skills ? (Select multiple if necessary)'].mode()[0],inplace=True)

In [16]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()

0    Student (Unemployed)
Name: If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               , dtype: object

In [17]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].fillna(df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()[0],inplace=True)

In [18]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()

0    Masters in Business Administration
Name: Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics), dtype: object

In [19]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].fillna(df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()[0],inplace=True)

In [20]:
df_test.isnull().sum()

What is your name?                                                                                                          0
What is your gender?                                                                                                        0
What was your course in UG?                                                                                                 0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                             0
What are your interests?                                                                                                    0
What are your skills ? (Select multiple if necessary)                                                                       0
What was the average CGPA or Percentage obtained in under graduation?                                                       0
Did you do any certification courses additionally?                                                                          0
If yes, please specify your certificate course title.                                                                       1
Are you working?                                                                                                            0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   0
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             0
dtype: int64

In [21]:
column_dict= {'What is your name?': 'Name',
               'What is your gender?': 'Gender',
               'What was your course in UG?': 'Course',
               'What is your UG specialization? Major Subject (Eg; Mathematics)': 'Specialization',
               'What are your interests?': 'Interest',
               'What are your skills ? (Select multiple if necessary)': 'Skills',
               'What was the average CGPA or Percentage obtained in under graduation?': 'Grades',
               'Did you do any certification courses additionally?': 'Any_Add_Cert_Courses',
               'If yes, please specify your certificate course title.': 'Cert_Courses_Desc',
               'Are you working?': 'Working?',
               'If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               ': 'Job_Title',
               'Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)': 'Masters_Desc'}

# Rename the columns using the dictionary
df_test = df_test.rename(columns=column_dict)

In [22]:
print(df_test.columns)

Index(['Name', 'Gender', 'Course', 'Specialization', 'Interest', 'Skills',
       'Grades', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?',
       'Job_Title', 'Masters_Desc'],
      dtype='object')

In [23]:
df_test.drop(['Name', 'Specialization', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?', 'Job_Title', 'Masters_Desc'], axis=1, inplace=True)

In [24]:
print(df_test.columns)

Index(['Gender', 'Course', 'Interest', 'Skills', 'Grades'], dtype='object')

In [26]:
import klib

In [27]:
klib.convert_datatypes(df_test)

,Gender,Course,Interest,Skills,Grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [28]:
klib.clean_column_names(df_test)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [29]:
klib.data_cleaning(df_test)

Shape of cleaned data: (1180, 5) - Remaining NAs: 0


Dropped rows: 15
     of which 15 duplicates. (Rows (first 150 shown): [167, 293, 412, 446, 500, 629, 635, 694, 777, 863, 924, 1000, 1078, 1093, 1139])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.01 MB (-20.0%)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1175,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1176,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1177,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1178,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1179,Male,B.Sc,Animation,2D/3D Animation,76.285

In [30]:
klib.mv_col_handling(df_test)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [32]:
df_test['gender'] = le.fit_transform(df_test['gender'])
df_test['course'] = le.fit_transform(df_test['course'])

In [33]:
df_test['interest'] = df_test['interest'].apply(lambda x: [interest.lower().strip() for interest in x.replace(';', ',').split(',')])
df_test['skills'] = df_test['skills'].apply(lambda x: [skill.lower().strip() for skill in x.replace(';', ',').split(',')])

In [34]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [35]:
mlb_interest = MultiLabelBinarizer()
mlb_skills = MultiLabelBinarizer()

# perform multihot encoding on each column separately
encoded_interest = mlb_interest.fit_transform(df_test['interest'])
encoded_skills = mlb_skills.fit_transform(df_test['skills'])

# concatenate the encoded arrays with the original dataframe
df_test = pd.concat([df_test, pd.DataFrame(encoded_interest, columns=mlb_interest.classes_), pd.DataFrame(encoded_skills, columns=mlb_skills.classes_)], axis=1)

# remove the original columns from the encoded dataframe
df_test.drop(['interest', 'skills'], axis=1, inplace=True)

In [36]:
df_test.shape

(1195, 665)

In [37]:
df_test

,gender,course,grades,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
0,0,13,85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,6,66.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,15,64.6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,50,75.525,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,14,70.68,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,1,14,72.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1191,1,13,80.75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1192,1,14,59.22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1193,1,22,57,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1194,1,13,76.285,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [38]:
import joblib

In [39]:
joblib.dump(le,r'le.pkl')
joblib.dump(mlb,r'mlb.pkl')

['mlb.pkl']

In [40]:
corr_matrix = df_test.corr()

# Display the correlation matrix
print(corr_matrix)

                    gender    course    grades            agriculture  \
gender            1.000000  0.012200 -0.095024  0.019801     0.018491
course            0.012200  1.000000 -0.081325 -0.008488     0.103857
grades           -0.095024 -0.081325  1.000000  0.003469    -0.011620
                  0.019801 -0.008488  0.003469  1.000000    -0.002521
agriculture       0.018491  0.103857 -0.011620 -0.002521     1.000000
...                    ...       ...       ...       ...          ...
xilinx vivado     0.019801 -0.008488  0.016624 -0.000838    -0.002521
xml               0.028014 -0.012010  0.035928 -0.001185    -0.003567
yii2              0.019801 -0.008488  0.013701 -0.000838    -0.002521
zoho              0.019801 -0.008488  0.031241 -0.000838    -0.002521
zuul api gateway  0.019801 -0.008488  0.031241 -0.000838    -0.002521

                  all fields related to data science  \
gender                                      0.029232
course                                     -0.022515
grades                                      0.060488
                                           -0.002221
agriculture                                -0.006687
...                                              ...
xilinx vivado                              -0.002221
xml                                         0.533401
yii2                                        0.377014
zoho                                       -0.002221
zuul api gateway                           -0.002221

                  all fields related to data science.  \
gender                                       0.031356
course                                       0.065864
grades                                      -0.040321
                                            -0.005920
agriculture                                 -0.017820
...                                               ...
xilinx vivado                               -0.005920
xml                                         -0.008376
yii2                                        -0.005920
zoho                                        -0.005920
zuul api gateway                            -0.005920

                  all fields related to data science.machine learning  \
gender                                                     0.019801
course                                                    -0.008488
grades                                                    -0.012610
                                                          -0.000838
agriculture                                               -0.002521
...                                                             ...
xilinx vivado                                             -0.000838
xml                                                       -0.001185
yii2                                                      -0.000838
zoho                                                      -0.000838
zuul api gateway                                          -0.000838

                  analysis  animation  ...  working capital management  \
gender            0.019801   0.028014  ...                   -0.041659
course           -0.037363  -0.016095  ...                   -0.008488
grades           -0.000916   0.009664  ...                    0.006684
                 -0.000838  -0.001185  ...                   -0.000838
agriculture      -0.002521  -0.003567  ...                   -0.002521
...                    ...        ...  ...                         ...
xilinx vivado    -0.000838  -0.001185  ...                   -0.000838
xml              -0.001185  -0.001676  ...                   -0.001185
yii2             -0.000838  -0.001185  ...                   -0.000838
zoho             -0.000838  -0.001185  ...                   -0.000838
zuul api gateway -0.000838  -0.001185  ...                   -0.000838

                   writing  writing skills  x-ray crystallography     xcode  \
gender           -0.056290       -0.123823               0.019801  0.019801
course           -0.102495        0.075297              -0.011376 -0.008488
grades            0.008415        0.043893               0.039134  0.047027
                 -0.006770       -0.009489              -0.000838 -0.000838
agriculture      -0.020378        0.036825              -0.002521 -0.002521
...                    ...             ...                    ...       ...
xilinx vivado    -0.006770       -0.009489              -0.000838 -0.000838
xml              -0.009578       -0.013425              -0.001185 -0.001185
yii2             -0.006770       -0.009489              -0.000838 -0.000838
zoho             -0.006770       -0.009489              -0.000838 -0.000838
zuul api gateway -0.006770       -0.009489              -0.000838 -0.000838

                  xilinx vivado       xml      yii2      zoho  \
gender                 0.019801  0.028014  0.019801  0.019801
course                -0.008488 -0.012010 -0.008488 -0.008488
grades                 0.016624  0.035928  0.013701  0.031241
                      -0.000838 -0.001185 -0.000838 -0.000838
agriculture           -0.002521 -0.003567 -0.002521 -0.002521
...                         ...       ...       ...       ...
xilinx vivado          1.000000 -0.001185 -0.000838 -0.000838
xml                   -0.001185  1.000000  0.706811 -0.001185
yii2                  -0.000838  0.706811  1.000000 -0.000838
zoho                  -0.000838 -0.001185 -0.000838  1.000000
zuul api gateway      -0.000838 -0.001185 -0.000838  1.000000

                  zuul api gateway
gender                    0.019801
course                   -0.008488
grades                    0.031241
                         -0.000838
agriculture              -0.002521
...                            ...
xilinx vivado            -0.000838
xml                      -0.001185
yii2                     -0.000838
zoho                      1.000000
zuul api gateway          1.000000

[665 rows x 665 columns]

In [41]:
X=df_test.drop('course',axis=1)

In [42]:
Y=df_test['course']

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [44]:
X.describe()

,gender,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,architecture and construction,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
count,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,...,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000
mean,0.677824,0.000837,0.007531,0.005858,0.040167,0.000837,0.000837,0.001674,0.000837,0.000837,...,0.000837,0.051883,0.097071,0.000837,0.000837,0.000837,0.001674,0.000837,0.000837,0.000837
std,0.471075,0.028928,0.086492,0.076343,0.196434,0.028928,0.028928,0.040893,0.028928,0.028928,...,0.028928,0.221883,0.296179,0.028928,0.028928,0.028928,0.040893,0.028928,0.028928,0.028928
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [46]:
X_train_std= sc.fit_transform(X_train)

In [47]:
X_test_std= sc.transform(X_test)
X_train_std

array([[ 0.68950992,  1.39747204, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -1.64764932, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992,  0.18155668, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  1.51906357, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -0.73037984, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.48553552, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]])

In [48]:
X_test_std

array([[ 0.68950992, -0.52772728, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.92123852, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.80551324, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  0.07169766, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.37887628, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.99216692, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]])

In [49]:
Y_train

678    23
533    22
50     14
122    14
418    14
       ..
575    47
973    14
75      4
599    22
863    14
Name: course, Length: 956, dtype: int32

In [50]:
Y_test

463     22
352     13
860     13
1174    22
2       15
        ..
714     48
7       14
935     14
254      4
767     18
Name: course, Length: 239, dtype: int32

In [51]:
joblib.dump(sc,r'sc.sav')

['sc.sav']

In [52]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [53]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [54]:
X_test.head()

,gender,grades,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
463,1,66.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,0,80.085,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,0,79,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1174,1,65.55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,64.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
Y_pred_lr=lr.predict(X_test_std)

In [56]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print(r2_score(Y_test,Y_pred_lr))
print(mean_absolute_error(Y_test,Y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_lr)))

-1.341808907698484e+27
71145306266875.52
380819528048199.2

In [57]:
joblib.dump(lr,r'lr.sav')

['lr.sav']

In [58]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor()

In [59]:
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [60]:
Y_pred_rf= rf.predict(X_test)

In [61]:
print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

-0.13952662574769104
6.942782426778242
11.097780065057377

In [62]:
joblib.dump(rf,r'rf.sav')

['rf.sav']

In [63]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

# define grid search
grid = dict(n_estimators=n_estimators, max_depth=max_depth)

#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1,
                           scoring='r2',error_score=0,verbose=2,cv=2)

grid_search_forest.fit(X_train_std, Y_train)

# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 90 candidates, totalling 180 fits
Collecting klib
  Obtaining dependency information for klib from https://files.pythonhosted.org/packages/96/d5/4978eb763ed5dea42633df2ff2db9893bd70091ca5469383b3da7b8352f7/klib-1.1.2-py3-none-any.whl.metadata
  Downloading klib-1.1.2-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (3.1.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (3.7.2)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (1.24.3)
Requirement already satisfied: pandas<3.0,>=1.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (2.0.3)
Collecting plotly<6.0.0,>=5.2.2 (from klib)
  Obtaining dependency information for plotly<6.0.0,>=5.2.2 from https://files.pythonhosted.org/packages/df/79/c80174d711ee26ee5da55a9cc3e248f1ec7a0188b5e4d6bbbbcd09b974b0/plotly-5.17.0-py2.py3-none-any.whl.metadata
  Downloading plotly-5.17.0-py2.py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (1.11.2)
Collecting screeninfo<0.9.0,>=0.8.1 (from klib)
  Downloading screeninfo-0.8.1-py3-none-any.whl (12 kB)
Requirement already satisfied: seaborn>=0.11.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (0.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3.0,>=1.2->klib) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3.0,>=1.2->klib) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly<6.0.0,>=5.2.2->klib) (8.2.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.0.3->klib) (1.16.0)
Downloading klib-1.1.2-py3-none-any.whl (22 kB)
Downloading plotly-5.17.0-py2.py3-none-any.whl (15.6 MB)
   ---------------------------------------- 0.0/15.6 MB ? eta -:--:--
   ---------- ----------------------------- 4.2/15.6 MB 88.9 MB/s eta 0:00:01
   ----------------- ---------------------- 6.8/15.6 MB 71.8 MB/s eta 0:00:01
   -------------------- ------------------- 7.9/15.6 MB 56.7 MB/s eta 0:00:01
   ----------------------- ---------------- 9.3/15.6 MB 49.6 MB/s eta 0:00:01
   --------------------------- ------------ 10.6/15.6 MB 43.7 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.6 MB 38.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.6 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.6 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------  15.6/15.6 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------  15.6/15.6 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------- 15.6/15.6 MB 25.1 MB/s eta 0:00:00
Installing collected packages: screeninfo, plotly, klib
Successfully installed klib-1.1.2 plotly-5.17.0 screeninfo-0.8.1
Best: 0.014 using {'max_depth': 2, 'n_estimators': 10}
0.005 (0.007) with: {'max_depth': 1, 'n_estimators': 10}
0.007 (0.009) with: {'max_depth': 1, 'n_estimators': 100}
0.009 (0.006) with: {'max_depth': 1, 'n_estimators': 1000}
0.014 (0.013) with: {'max_depth': 2, 'n_estimators': 10}
0.014 (0.011) with: {'max_depth': 2, 'n_estimators': 100}
0.012 (0.010) with: {'max_depth': 2, 'n_estimators': 1000}
-0.007 (0.026) with: {'max_depth': 3, 'n_estimators': 10}
0.013 (0.018) with: {'max_depth': 3, 'n_estimators': 100}
0.008 (0.024) with: {'max_depth': 3, 'n_estimators': 1000}
-0.030 (0.051) with: {'max_depth': 4, 'n_estimators': 10}
0.001 (0.036) with: {'max_depth': 4, 'n_estimators': 100}
0.001 (0.034) with: {'max_depth': 4, 'n_estimators': 1000}
-0.025 (0.038) with: {'max_depth': 5, 'n_estimators': 10}
-0.007 (0.048) with: {'max_depth': 5, 'n_estimators': 100}
-0.004 (0.046) with: {'max_depth': 5, 'n_estimators': 1000}
-0.047 (0.080) with: {'max_depth': 6, 'n_estimators': 10}
-0.020 (0.051) with: {'max_depth': 6, 'n_estimators': 100}
-0.010 (0.054) with: {'max_depth': 6, 'n_estimators': 1000}
-0.088 (0.055) with: {'max_depth': 7, 'n_estimators': 10}
-0.019 (0.065) with: {'max_depth': 7, 'n_estimators': 100}
-0.016 (0.063) with: {'max_depth': 7, 'n_estimators': 1000}
-0.105 (0.091) with: {'max_depth': 8, 'n_estimators': 10}
-0.023 (0.064) with: {'max_depth': 8, 'n_estimators': 100}
-0.022 (0.070) with: {'max_depth': 8, 'n_estimators': 1000}
-0.105 (0.083) with: {'max_depth': 9, 'n_estimators': 10}
-0.032 (0.073) with: {'max_depth': 9, 'n_estimators': 100}
-0.033 (0.071) with: {'max_depth': 9, 'n_estimators': 1000}
-0.059 (0.074) with: {'max_depth': 10, 'n_estimators': 10}
-0.048 (0.068) with: {'max_depth': 10, 'n_estimators': 100}
-0.037 (0.073) with: {'max_depth': 10, 'n_estimators': 1000}
-0.089 (0.054) with: {'max_depth': 11, 'n_estimators': 10}
-0.042 (0.065) with: {'max_depth': 11, 'n_estimators': 100}
-0.039 (0.076) with: {'max_depth': 11, 'n_estimators': 1000}
-0.143 (0.081) with: {'max_depth': 12, 'n_estimators': 10}
-0.046 (0.067) with: {'max_depth': 12, 'n_estimators': 100}
-0.046 (0.074) with: {'max_depth': 12, 'n_estimators': 1000}
-0.171 (0.045) with: {'max_depth': 13, 'n_estimators': 10}
-0.046 (0.062) with: {'max_depth': 13, 'n_estimators': 100}
-0.052 (0.070) with: {'max_depth': 13, 'n_estimators': 1000}
-0.102 (0.075) with: {'max_depth': 14, 'n_estimators': 10}
-0.068 (0.052) with: {'max_depth': 14, 'n_estimators': 100}
-0.058 (0.071) with: {'max_depth': 14, 'n_estimators': 1000}
-0.154 (0.042) with: {'max_depth': 15, 'n_estimators': 10}
-0.072 (0.065) with: {'max_depth': 15, 'n_estimators': 100}
-0.060 (0.078) with: {'max_depth': 15, 'n_estimators': 1000}
-0.123 (0.032) with: {'max_depth': 16, 'n_estimators': 10}
-0.068 (0.089) with: {'max_depth': 16, 'n_estimators': 100}
-0.064 (0.072) with: {'max_depth': 16, 'n_estimators': 1000}
-0.113 (0.088) with: {'max_depth': 17, 'n_estimators': 10}
-0.056 (0.066) with: {'max_depth': 17, 'n_estimators': 100}
-0.058 (0.070) with: {'max_depth': 17, 'n_estimators': 1000}
-0.173 (0.086) with: {'max_depth': 18, 'n_estimators': 10}
-0.054 (0.066) with: {'max_depth': 18, 'n_estimators': 100}
-0.067 (0.074) with: {'max_depth': 18, 'n_estimators': 1000}
-0.242 (0.070) with: {'max_depth': 19, 'n_estimators': 10}
-0.064 (0.097) with: {'max_depth': 19, 'n_estimators': 100}
-0.066 (0.071) with: {'max_depth': 19, 'n_estimators': 1000}
-0.141 (0.082) with: {'max_depth': 20, 'n_estimators': 10}
-0.074 (0.058) with: {'max_depth': 20, 'n_estimators': 100}
-0.067 (0.073) with: {'max_depth': 20, 'n_estimators': 1000}
-0.209 (0.022) with: {'max_depth': 21, 'n_estimators': 10}
-0.080 (0.072) with: {'max_depth': 21, 'n_estimators': 100}
-0.067 (0.070) with: {'max_depth': 21, 'n_estimators': 1000}
-0.180 (0.074) with: {'max_depth': 22, 'n_estimators': 10}
-0.078 (0.059) with: {'max_depth': 22, 'n_estimators': 100}
-0.069 (0.075) with: {'max_depth': 22, 'n_estimators': 1000}
-0.145 (0.040) with: {'max_depth': 23, 'n_estimators': 10}
-0.064 (0.057) with: {'max_depth': 23, 'n_estimators': 100}
-0.067 (0.069) with: {'max_depth': 23, 'n_estimators': 1000}
-0.181 (0.097) with: {'max_depth': 24, 'n_estimators': 10}
-0.071 (0.061) with: {'max_depth': 24, 'n_estimators': 100}
-0.065 (0.070) with: {'max_depth': 24, 'n_estimators': 1000}
-0.169 (0.086) with: {'max_depth': 25, 'n_estimators': 10}
-0.093 (0.065) with: {'max_depth': 25, 'n_estimators': 100}
-0.074 (0.070) with: {'max_depth': 25, 'n_estimators': 1000}
-0.232 (0.090) with: {'max_depth': 26, 'n_estimators': 10}
-0.069 (0.086) with: {'max_depth': 26, 'n_estimators': 100}
-0.067 (0.072) with: {'max_depth': 26, 'n_estimators': 1000}
-0.185 (0.042) with: {'max_depth': 27, 'n_estimators': 10}
-0.077 (0.063) with: {'max_depth': 27, 'n_estimators': 100}
-0.062 (0.071) with: {'max_depth': 27, 'n_estimators': 1000}
-0.191 (0.084) with: {'max_depth': 28, 'n_estimators': 10}
-0.076 (0.063) with: {'max_depth': 28, 'n_estimators': 100}
-0.067 (0.067) with: {'max_depth': 28, 'n_estimators': 1000}
-0.141 (0.054) with: {'max_depth': 29, 'n_estimators': 10}
-0.071 (0.065) with: {'max_depth': 29, 'n_estimators': 100}
-0.065 (0.072) with: {'max_depth': 29, 'n_estimators': 1000}
-0.144 (0.041) with: {'max_depth': 30, 'n_estimators': 10}
-0.069 (0.066) with: {'max_depth': 30, 'n_estimators': 100}
-0.071 (0.071) with: {'max_depth': 30, 'n_estimators': 1000}

In [64]:
joblib.dump(grid_search_forest,r'grid_search_forest.sav')

['grid_search_forest.sav']